
<%= form_for @participant, method: :post do |f| %>
   <div> <%= f.label :arrangement %></br>
         <%= f.collection_select :event_id, Event.order(:name), :id, :name, {:include_blank => 'Aktuelle Arrangementer'}%>

   <div>
        <%= f.label :firstname %><br/>
        <%= f.text_field :first_name %>
   </div>
   <div>
        <%= f.label :lastname %><br/>
        <%= f.text_field :last_name %>
   </div>
   <div>
        <%= f.label :'e-mail' %><br/>
        <%= f.text_field :email %>
   </div>
   <div>
        <%= f.label :'telefon nummer' %><br/>
        <%= f.text_field :tlfnr %>
   </div>
   </br>
   <div class="actions">
         <%= f.submit "Tilmeld", participant %>
   </div>
<% end %>
